/* CarritoPage.css */
  
.mt-5 custom-container{
    margin-top: 70px;
}
.title1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;


  }
