.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
  }
  
  .moai {
    justify-content: center;
    align-items: center;
    width: 100%; /* Esto hará que la imagen tenga el 90% del ancho de la página */
    max-width: 1000px; /* Esto evitará que la imagen se haga demasiado grande en pantallas grandes */
  }


  .title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  


  
  .title1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;



  }
  

