.col-md-6{
    margin-bottom: 20px;

}

.elementos{
    margin-top:10px; /* Ajusta el valor según el espacio deseado */

}


.title3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}


.title2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: grey;
    margin-right: 20px;
    text-justify: auto;
}



